<nav class="navbar">
  <div class="logo">Majestic Motors</div>
  <ul class="nav-links">
    <li>
      <a href="/">
        <img
          src="https://img.icons8.com/fluency-systems-regular/24/000000/home.png"
          alt="Home Icon"
        />
        Home
      </a>
    </li>
    <li>
      <a href="/#features">
        <img
          src="https://img.icons8.com/fluency-systems-regular/24/000000/settings.png"
          alt="Features Icon"
        />
        Features
      </a>
    </li>
    <li>
      <a href="/#cars">
        <img
          src="https://img.icons8.com/fluency-systems-regular/24/000000/car.png"
          alt="Cars Icon"
        />
        Cars
      </a>
    </li>
    <li>
      <a href="/#contact">
        <img
          src="https://img.icons8.com/fluency-systems-regular/24/000000/phone.png"
          alt="Contact Icon"
        />
        Contact
      </a>
    </li>
    <li>
      <a href="/returncar">
        <img
          src="https://img.icons8.com/ios-filled/24/000000/return.png"
          alt="Return Car Icon"
        />
        Return Car
      </a>
    </li>
  </ul>
  <a href="/auth" class="profile-button">Sign In</a>
</nav>
