<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Completed</title>
    <link rel="stylesheet" href="/static/styles/paymentconfirmation.css">
  </head>
  <body>
    <div class="container">
      <div class="icon">
        <!-- Check Mark Icon from Icons8 -->
        <img
          src="https://img.icons8.com/fluency-systems-regular/96/000000/checked.png"
          alt="Payment Completed"
        />
      </div>
      <h1>Payment Completed</h1>
      <p>
        Thank you for your purchase.<br />Your payment has been processed
        successfully.
      </p>
      <button class="btn" onclick="window.location.href='/'">
        <img
          src="https://img.icons8.com/fluency-systems-regular/24/ffffff/home.png"
          alt="Home Icon"
        />
        Go to Home
      </button>
    </div>
  </body>
</html>
